@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
    padding: 0 10px;
}

.wrapper {
    background: rgb(238, 237, 237);
    max-width: 500px;
    width: 100%;
    max-height: auto;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
    max-height: 700;
    overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.header {
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    margin-bottom: 5px;
    margin-top: 5px;
    display: inline;
    z-index: 1000;
    border-bottom: 2px solid #ebebeb;
    margin-left: 5px;
    margin-right: 5px;
}

.icon {
    color: black;
    cursor: pointer;
    width: 16px;
    height: 19px;
    display: inline;
    position: relative;
    top: 20px;
    left: 25px;
    font-size: 30PX;
    bottom: 10px;
}

.titre h1 a {
    margin-left: 100px;
    text-decoration: none;
    color: rgb(105, 102, 102);
    display: inline;
    float: center;
    position: relative;
    font-size: 25PX;
    bottom: 18px;
    left: 10%;
}

.icon2 {
    background-color: red;
    width: 35px;
    border-radius: 10px;
    float: center;
    position: relative;
    float: right;
    display: inline;
    bottom: 60px;
    right: 25px;
    cursor: pointer;
}

.bi-sliders {
    position: relative;
    float: center;
    left: 5px;
    bottom: 5px;
    font-size: 24px;
    color: #fff;
}

.bi-sliders:hover {
    color: #f7f7f7;
}

.titer-app {
    margin-left: 28px;
}

.titer-app .dis {
    font-size: 25px;
    color: black;
}

.min-dis {
    color: #a8a8a8;
    font-size: 15px;
    position: relative;
    bottom: 5px;
    left: 5px;
}

.sher {
    width: 100%;
    display: inline;
}

.sher input {
    width: 85%;
    height: 40px;
    background: rgb(255, 255, 255);
    text-decoration: none;
    border: 0;
    position: relative;
    left: 30px;
    border-radius: 10px;
    border: 0px;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.281);
    position: relative;
    left: 30px;
    border-color: none;
}

input:focus {
    outline: none;
    color: rgba(0, 0, 0, 0.281);
}

input[type=text] {
    padding: 1px 50px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.icon-saerch {
    position: relative;
    top: 40px;
    left: 45px;
    z-index: 1;
    font-size: 20px;
    width: 10px;
    color: rgba(0, 0, 0, 0.281);
    cursor: pointer;
}

.trending {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 35px;
    color: rgba(39, 35, 35, 0.788);
    font-size: 17px;
    display: inline;
}

.homborger-trending {
    height: auto;
    margin-top: 30px;
    margin-left: 30px;
    width: 75%;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;
}

.homborger-trending .content {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.homborger-trending .content img {
    width: 85%;
    height: 200px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.homborger-trending .content .contente-text {
    background-color: rgba(255, 228, 196, 0.733);
    border-bottom-right-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;
    position: relative;
    width: 100%;
    height: 100%;
}

.homborger-trending .content .contente-text .titre {
    margin-top: 5px;
    margin-left: 10px;
    display: inline-table;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.835)
}

.homborger-trending .content .contente-text .bi-geo-alt {
    position: relative;
    top: 18px;
    float: left;
    left: 20px;
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.39);
}

.homborger-trending .content .contente-text p {
    position: relative;
    top: 5px;
    left: 25px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.39);
}

.rating {
    float: left;
    margin-left: 17px;
    direction: rtl;
    margin-top: 10px;
    padding-bottom: 10px;
}

.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 1.9em;
    transition: color .4s;
}

.rating a:hover, .rating a:focus, .rating a:hover~a, .rating a:focus~a {
    color: orange;
    cursor: pointer;
}

.swiper-container {
    width: 100%;
    position: relative;
    left: 20px;
}

.next {
    background-color: rgb(255, 255, 255);
    width: 35px;
    border-radius: 50%;
    position: relative;
    float: right;
    right: 20px;
    bottom: 55px;
}

.next .bi-chevron-right {
    color: red;
    font-size: 24px;
    position: relative;
    left: 5px;
    bottom: 3.5px;
    width: 10px;
    height: 1px
}

.menu-top {
    background: white;
    position: relative;
    z-index: 100;
    position: fixed;
    top: 93vh;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 500px;
}

.menu-top ul {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    float: center;
    bottom: 15px;
}

.menu-top ul li {
    float: left;
    margin-left: 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 0;
    height: 40px;
    line-height: 40px;

    font-size: 25px;
    padding-left: 10px;
}

.menu-top ul li a {
    color: rgba(0, 0, 0, 0.603)
}

.menu-top ul li a:hover {
    color: red;
}

@media (max-width:332px) {
    .homborger-trending {
        width: 100%;
        margin-left: 0px;
    }
    .icon {
        position: relative;
        bottom: 5px;
    }
    .rating{
        right: 10px;
    }
}
